/*body {
    font:15px arial,sans-serif;
}
h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: #999;
    color: #fff;
}
table {
    margin: 10px;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
tr:nth-child(odd) {
    background: #eee;
}
td a {
    color: #000;
    text-decoration: underline;
}*/


#tabletop {
  display: inline-block;
  width: 350px;
  vertical-align:top;
}

.axis path, .axis line {
    fill: none;
    stroke: #333333;
    shape-rendering: crispEdges;
}

#tooltip {
        position: absolute;
        width: 200px;
        height: auto;           
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        }
            
#tooltip.hidden {
        display: none;
        }
            
#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
    }
                
